<template>
  <div id="app" class="questions">

    <div v-if="survey.finished" class="alert alert-success" v-html="$root.str('survey_finished')"></div>

    <nav v-if="$root.isAdmin" class="navbar navbar-expand-lg navbar-light bg-light border">
      <a class="navbar-brand" :href="$root.str('module_link')">
        <img :src="$root.str('module_logo')">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#jinonav"
        aria-controls="jinonav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="jinonav">
        <div class="ml-auto">
          <p-radio
            class="p-default p-round p-smooth"
            name
            color="primary"
            :value="'1'"
            v-model="survey.uselink"
            @change="setlink"
          >{{ $root.str('source_link') }}</p-radio>
          <p-radio
            class="p-default p-round p-smooth"
            name
            color="primary"
            :value="'0'"
            v-model="survey.uselink"
            @change="setlink"
          >{{ $root.str('source_jino') }}</p-radio>
        </div>
      </div>
    </nav>

    <div v-if="$root.isAdmin">
      <div v-show="survey.uselink=='1'" class="py-5">
        <div class="form-group">
          <label for="source_link">{{ $root.str('source_link_help') }}</label>
          <input
            type="text"
            class="form-control"
            id="source_link"
            :placeholder="$root.str('source_link_placeholder')"
            v-model="survey.externallink"
          >
        </div>
        <button class="btn btn-primary" @click.prevent="changelink">
          <i class="fa fa-save px-1"></i>
          {{ $root.str('question_save') }}
        </button>
      </div>
    </div>

    <div v-show="survey.uselink=='0'">
      <div v-if="$root.isAdmin">
        <ul class="nav">
          <li class="nav-item">
            <span class="nav-link h2 text-dark">{{ $root.str('source_jino_title') }}</span>
          </li>
          <li class="nav-item">
            <span class="nav-link text-muted">{{ $root.str('survey_user_finished') }} <span class="h2 ml-2 text-dark">{{ survey.user_done_count }}</span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" :href="'download.php?id=' + $root.activityid"><i class="fa fa-save"></i> {{ $root.str('survey_download_report') }}</a>
          </li>
          <li class="nav-item dropdown ml-auto">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-plus"></i>
              {{ $root.str('survey_add_question') }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">{{ $root.str('question_type_header') }}</h6>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="add('textinput')"
              >{{ $root.str('question_type_textinput') }}</a>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="add('singlechoice')"
              >{{ $root.str('question_type_singlechoice') }}</a>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="add('multiplechoice')"
              >{{ $root.str('question_type_multiplechoice') }}</a>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="add('datechoice')"
              >{{ $root.str('question_type_datechoice') }}</a>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="add('rankchoice')"
              >{{ $root.str('question_type_rankchoice') }}</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">{{ $root.str('question_other_header') }}</h6>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="fetch_surveys"
              >{{ $root.str('question_import') }}</a>
              <a
                class="dropdown-item"
                href="#"
                @click.prevent="fetch_questions"
              >{{ $root.str('question_choose') }}</a>
            </div>
          </li>
        </ul>
      </div>
      <draggable
        v-model="survey.questions"
        @start="drag=true"
        @end="drag=false; reorder()"
        :options="{handle:'.question-drag'}"
      >
        <transition-group name="flip" mode="out-in">
          <div
            v-for="(question, index) in survey.questions"
            :key="question.id"
            :id="'ques-'+question.id"
            class="question"
          >
            <div>
              <div class="h1 float-left text-right pr-2" style="width: 50px;">
                {{ index + 1 }}.
                <div v-if="$root.isAdmin" class="btn btn-sm btn-light btn-block border question-drag">
                  <i class="fa fa-arrows"></i>
                </div>
              </div>

              <div class="badge badge-info">{{ $root.str('question_id') }} #{{ question.id }}</div>
              <div class="badge badge-secondary">{{ $root.str('question_type_' + question.type) }}</div>
              <!-- <div class="badge badge-success">{{ $root.str('question_answered') }}answered</div>
              <div class="badge badge-warning">{{ $root.str('question_unsaved') }}unsaved</div>-->
            </div>
            <div
              v-if="$root.isAdmin"
              class="btn-group-vertical float-right ml-2"
              role="group"
              style="width: 100px"
            >
              <button
                v-if="!edits[question.id]"
                type="button"
                class="btn btn-secondary"
                @click.prevent="edit_question(index,question.id)"
              >
                <i class="fa fa-edit"></i>
                {{ $root.str('question_edit') }}
              </button>
              <button
                v-if="!edits[question.id]"
                type="button"
                class="btn btn-secondary"
                @click.prevent="remove(question.id)"
              >
                <i class="fa fa-remove"></i>
                {{ $root.str('question_remove') }}
              </button>
              <button
                v-if="!edits[question.id]"
                type="button"
                class="btn btn-danger"
                @click.prevent="del(question.id)"
              >
                <i class="fa fa-trash"></i>
                {{ $root.str('question_delete') }}
              </button>
              <button
                v-if="edits[question.id]"
                type="button"
                class="btn btn-success"
                @click.prevent="save(question)"
              >
                <i class="fa fa-save"></i>
                {{ $root.str('question_save') }}
              </button>
              <button
                v-if="edits[question.id]"
                type="button"
                class="btn btn-secondary"
                @click.prevent="cancel_question(index,question.id)"
              >
                <i class="fa fa-angle-left"></i>
                {{ $root.str('question_cancel') }}
              </button>
            </div>
            <div class="card">
              <div
                class="card-body"
                :is="question.type"
                :question="question"
                :editable="edits[question.id]"
                :disabled="survey.finished"
                v-model="answers[question.id]"
              ></div>
            </div>
          </div>
        </transition-group>
      </draggable>

      <div v-if="!$root.isAdmin && !survey.finished" class="text-center">
        <button
          class="btn btn-primary mb-3"
          @click="submit_answers"
        >{{ $root.str('question_submit_answer') }}</button>
      </div>
    </div>

    <notifications position="bottom right" :duration="5000"/>

    <div v-if="modal!=''" class="jino-modal">
      <i v-if="modal=='survey_loading'" class="fa fa-cog fa-spin fa-5x fa-fw fa-loading"></i>
      <div v-if="modal=='import_survey'" class="card">
        <div class="card-body" style="min-width: 640px; min-height: 480px">
          <table v-if="surveys.length > 0" class="table table-bordered table-hover">
            <tbody>
              <tr v-for="survey in surveys" :key="survey.id">
                <td>{{ survey.name }}</td>
                <td>{{ survey.intro | striphtml }}</td>
                <td>{{ Date(survey.timecreated) }}</td>
                <td class="py-0">
                  <button
                    class="btn btn-sm btn-primary mt-2"
                    @click="import_survey(survey.id)"
                  >{{ $root.str('import') }}</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div v-if="surveys.length==0" class="text-center">{{ $root.str('import_no_survey') }}</div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" @click="modal=''">{{ $root.str('import_cancel') }}</button>
        </div>
      </div>

      <div v-if="modal=='survey_finish'" class="card">
        <div class="card-body text-center" style="min-width: 640px; min-height: 240px">
          <div><i class="fa fa-check-circle fa-5x text-success"></i></div>
          <div class="h1">{{ $root.str('survey_finish_thanks') }}</div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-secondary mx-2" @click="modal=''">{{ $root.str('survey_finish_back') }}</button>
          <button class="btn btn-secondary mx-2" @click="modal=''">{{ $root.str('survey_finish_review') }}</button>
        </div>
      </div>
      <div v-if="modal=='import_question'" class="card">
        <div class="card-body" style="min-width: 640px; min-height: 480px">
          <table v-if="questions.length > 0" class="table table-bordered table-hover">
            <tbody>
              <tr v-for="question in questions" :key="question.id">
                <td>{{ question.title }}</td>
                <td>{{ question.description | striphtml }}</td>
                <td>{{ Date(question.timecreated) }}</td>
                <td class="py-0">
                  <button
                    class="btn btn-sm btn-primary mt-2"
                    @click="import_question(question.id)"
                  >{{ $root.str('import') }}</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div v-if="questions.length==0" class="text-center">{{ $root.str('import_no_question') }}</div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" @click="modal=''">{{ $root.str('import_cancel') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Singlechoice from "./components/SingleChoice.vue";
import Multiplechoice from "./components/MultipleChoice.vue";
import Datechoice from "./components/DateChoice.vue";
import Rankchoice from "./components/RankChoice.vue";
import Textinput from "./components/TextInput.vue";
import CountUp from 'vue-countup-v2';

import axios from "axios";
import draggable from "vuedraggable";

export default {
  name: "questions",
  components: {
    Singlechoice,
    Multiplechoice,
    Datechoice,
    Rankchoice,
    Textinput,
    CountUp,
    draggable
  },
  data() {
    return {
      edits: {},
      olds: {},
      survey: {},
      surveys: [],
      questions: [],
      answers: {},
      modal: "survey_loading"
    };
  },
  mounted: function() {
    axios.defaults.baseURL = this.base;
    if (this.$root.isAdmin) {
      this.fetch_survey();
    } else {
      this.fetch_survey_anwsers();
    }
    
  },
  methods: {
    fetch_survey() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "get_survey",
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.survey = res.data;
        this.survey.questions.forEach(elm => {
          this.$set(this.edits, elm.id, false);
        });
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_loaded")
        });
      });
    },
    fetch_survey_anwsers() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "get_survey_answers",
          userid: this.$root.userid,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.survey = res.data;
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_loaded")
        });
      });
    },
    fetch_surveys() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "get_surveys",
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.surveys = res.data.surveys;
        this.modal = "import_survey";
      });
    },
    fetch_questions() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "get_questions_import",
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.questions = res.data.questions;
        this.modal = "import_question";
      });
    },
    import_survey(id) {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "import_survey",
          surveyid_import: id,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        res.data.forEach(eml => {
          this.survey.questions.push(eml);
        });
        this.modal = "";
        location.hash = "#page-footer";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_survey_import")
        });
      });
    },
    import_question(id) {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "import_question",
          questionid: id,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.survey.questions.push(res.data);
        this.modal = "";
        location.hash = "#page-footer";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_import")
        });
      });
    },
    add(type) {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "add_new_question",
          type: type,
          title: this.$root.str("question_new_title"),
          description: this.$root.str("question_new_description"),
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.survey.questions.push(res.data);
        this.modal = "";
        setTimeout(() => {
          this.$scrollTo("#ques-" + res.data.id);
        }, 100);
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_add")
        });
      });
    },
    del(qid) {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "delete_question",
          questionid: qid,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.survey.questions.splice(
          this.survey.questions.findIndex(qs => qs.id === qid),
          1
        );
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_delete")
        });
      });
    },
    save(question, index) {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "update_question",
          questionid: question.id,
          title: question.title,
          allowuserinputitem: question.allowuserinputitem,
          required: question.required,
          description: question.description,
          content: question.content,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        if (!res.data) this.cancel_question(index, question.id);
        this.edits[question.id] = false;
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_save")
        });
      });
    },
    setlink() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "survey_setlink",
          uselink: this.survey.uselink,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text:
            this.survey.uselink == "1"
              ? this.$root.str("survey_notify_question_setlink")
              : this.$root.str("survey_notify_question_jinosurvey")
        });
      });
    },
    changelink() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "survey_changelink",
          externallink: this.survey.externallink,
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_changelink")
        });
      });
    },
    reorder() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          action: "survey_reorder",
          questions: this.survey.questions.map(x => x.id).join(","),
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.modal = "";
        this.$notify({
          title: this.$root.str("survey_notify_title"),
          text: this.$root.str("survey_notify_question_reorder")
        });
      });
    },
    submit_answers() {
      this.modal = "survey_loading";
      axios({
        method: "GET",
        url: this.$root.route,
        params: {
          surveyid: this.$root.surveyid,
          userid: this.$root.userid,
          answers: JSON.stringify(this.answers),
          action: "submit_answers",
          sesskey: this.$root.sesskey
        }
      }).then(res => {
        this.modal = "survey_finish";
        this.survey.finished = true;
      });
    },
    edit_question(idx, qid) {
      this.olds[qid] = Object.assign({}, this.survey.questions[idx]);
      this.$set(this.edits, qid, true);
    },
    cancel_question(idx, qid) {
      this.survey.questions[idx] = this.olds[qid];
      delete this.olds[qid];
      this.$set(this.edits, qid, false);
    }
  }
};
</script>

<style lang="scss">
@import "~pretty-checkbox/src/pretty-checkbox.scss";

.questions {
  min-height: 400px;

  .question {
    margin: 1rem 0;
  }

  .question-panel {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 24px;
    font-weight: 100;
    color: #aaa;
    margin-top: -5px;
  }

  .heading {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
    padding-right: 10px;
    background: #fff;
    position: absolute;
  }
}

.jino-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;
  top: 0;
  left: 0;
  position: fixed;

  .fa-loading {
    font-size: 120px;
    color: rgba(255, 255, 255, 0.55);
  }
}

.flip-move,
.flip-enter-active,
.flip-leave-active {
  transition: all 0.3s ease-in-out;
}

.flip-enter,
.flip-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.vue-notification {
  .notification-title {
    font-size: 15px !important;
  }

  .notification-content {
    font-size: 13px !important;
    padding-left: 20px;
  }
}
</style>