<template>
  <div v-cloak>
    <div v-if="!editable">
      <div v-if="question.title!=''" class="card-title font-weight-bold mb-2">
        {{ question.title }}
        <span
          v-if="question.required=='1'"
          class="badge bg-danger rounded"
        >{{ $root.str('required') }}</span>
      </div>
      <div v-if="question.description!=''" class="card-text mb-3" v-html="question.description"></div>
      <div class="form-group">
        <date-picker v-model="value" :lang="lang" :format="$root.str('datepicker_format')" :disabled="disabled"></date-picker>
      </div>
    </div>
    <div v-if="editable">
      <p-check
        class="p-switch p-fill mb-3"
        :true-value="'1'"
        :false-value="'0'"
        color="primary"
        v-model="question.required"
      >{{ $root.str('question_required') }}</p-check>
        <div class="form-group">
        <input
          class="form-control"
          type="text"
          :placeholder="$root.str('question_title')"
          v-model="question.title"
        >
      </div>
      <vue-editor :placeholder="$root.str('question_description')" v-model="question.description"></vue-editor>
    </div>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
import { VueEditor } from "vue2-editor";

export default {
  name: "datechoice",
  components: {
    VueEditor,
    DatePicker
  },
  props: {
    editable: Boolean,
    question: Object,
    disabled: Boolean
  },
  mounted() {
    this.lang = this.$root.str('datepicker_lang');
  },
  data() {
    return {
      lang: null,
      value: new Date()
    };
  },
  watch: {
    value(newVal){
      this.$emit('input',newVal.getTime());
    }
  }
};
</script>
