<template>
  <div v-cloak>
    <div v-if="!editable">
      <div v-if="question.title!=''" class="card-title font-weight-bold mb-2">
        {{ question.title }}
        <span
          v-if="question.required=='1'"
          class="badge bg-danger rounded"
        >{{ $root.str('required') }}</span>
      </div>
      <div v-if="question.description!=''" class="card-text mb-3" v-html="question.description"></div>
      <div>
        <p-check
          class="p-icon p-jelly"
          :name="'question-' + question.id"
          color="primary"
          v-for="(item,index) in items"
          :key="index"
          :label="item.value"
          :value="item.value"
          :disabled="disabled"
          v-model="values"
        ><i slot="extra" class="icon fa fa-check"></i>{{ item.value }}</p-check>
         <div class="mt-3" v-if="question.allowuserinputitem=='1'">
          <p-check
          class="p-default"
          :name="'question-' + question.id"
          color="primary"
          :value="true"
          :disabled="disabled"
          v-model="enableOther"
        >{{ $root.str('question_other') }}</p-check>
        <input
          class="form-control mt-2"
          type="text"
          :id="'question-' + question.id + '-other'"
          :disabled="disabled || !enableOther"
        >
        </div>
      </div>
    </div>
    <div v-if="editable">
      <p-check
        class="p-switch p-fill mb-3"
        :true-value="'1'"
        :false-value="'0'"
        color="primary"
        v-model="question.required"
      >{{ $root.str('question_required') }}</p-check>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          :placeholder="$root.str('question_title')"
          v-model="question.title"
        >
      </div>
      <vue-editor :placeholder="$root.str('question_description')" v-model="question.description"></vue-editor>
      <div class="heading">{{ $root.str('question_options') }}</div>
      <hr>
      <draggable
        v-model="items"
        @start="drag=true"
        @end="drag=false"
        :options="{handle:'.option-drag'}"
      >
        <transition-group name="flip" mode="out-in">
          <div v-for="(item,index) in items" :key="item.id" class="form-group">
            <div class="input-group">
              <div class="input-group-prepend option-drag">
                <span class="input-group-text">{{ index + 1 }}</span>
              </div>
              <input type="text" class="form-control" v-model="item.value">
              <div class="input-group-append">
                <button class="btn btn-danger" @click="del(index)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
      <button
        type="button"
        class="btn btn-secondary mb-2"
        @click.prevent="add($root.str('question_new_item'))"
      >
        <i class="fa fa-plus"></i>
        {{ $root.str('question_add_item') }}
      </button>
      <br>
      <p-check
        class="p-switch p-fill mt-3"
        :true-value="'1'"
        :false-value="'0'"
        color="primary"
        v-model="question.allowuserinputitem"
      >{{ $root.str('question_allow_other') }}</p-check>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import { VueEditor } from "vue2-editor";

export default {
  name: "multiplechoice",
  components: {
    draggable,
    VueEditor
  },
  props: {
    editable: Boolean,
    question: Object,
    disabled: Boolean
  },
  data() {
    return {
      enableOther: false,
      items: [],
      values: []
    };
  },
  mounted() {
    this.setItems(this.question.content);
    if (this.question.answer)
      this.$emit('input',this.question.answer);
  },
  methods: {
    setItems(content) {
      var items = [];
      if (content) {
        content.split(";").forEach((elm, idx) => {
          items.push({ value: elm, id: idx });
        });
        this.items = items;
      }
    },
    add(item) {
      this.items.push({ value: item, id: this.items.length });
    },
    del(idx) {
      this.items.splice(idx, 1);
    }
  },
  watch: {
    items: {
      handler: function() {
        this.question.content = this.items.map(x => x.value).join(";");
      },
      deep: true
    },
    question: {
      handler: function(val) {
        this.setItems(val.content);
      },
      deep: true
    },
     values: function(newVal){
      this.$emit('input',newVal.join(';'));
    }
  }
};
</script>

<style lang="scss">
.option-drag {
  cursor: move;
}
</style>
