<template>
  <div v-cloak>
    <div v-if="!editable">
      <div v-if="question.title!=''" class="card-title font-weight-bold mb-2">
        {{ question.title }}
        <span
          v-if="question.required=='1'"
          class="badge bg-danger rounded"
        >{{ $root.str('required') }}</span>
      </div>
      <div v-if="question.description!=''" class="card-text mb-3" v-html="question.description"></div>
      <draggable v-model="items" @start="drag=true" @end="drag=false">
        <transition-group name="flip" mode="out-in">
          <div class="order-item" v-for="item in items" :key="item.id">{{ item.value }}</div>
        </transition-group>
      </draggable>
    </div>
    <div v-if="editable">
      <p-check
        class="p-switch p-fill mb-3"
        :true-value="'1'"
        :false-value="'0'"
        color="primary"
        v-model="question.required"
      >{{ $root.str('question_required') }}</p-check>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          :placeholder="$root.str('question_title')"
          v-model="question.title"
        >
      </div>
      <vue-editor :placeholder="$root.str('question_description')" v-model="question.description"></vue-editor>
      <div class="heading">{{ $root.str('question_options') }}</div>
      <hr>
      <draggable
        v-model="items"
        @start="drag=true"
        @end="drag=false"
        :options="{handle:'.option-drag'}"
      >
        <transition-group name="flip" mode="out-in">
          <div v-for="(item,index) in items" :key="item.id" class="form-group">
            <div class="input-group">
              <div class="input-group-prepend option-drag">
                <span class="input-group-text">{{ index + 1 }}</span>
              </div>
              <input type="text" class="form-control" v-model="item.value">
              <div class="input-group-append">
                <button class="btn btn-danger" @click="del(index)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
      <button
        type="button"
        class="btn btn-secondary mb-2"
        @click.prevent="add($root.str('question_new_item'))"
      >
        <i class="fa fa-plus"></i>
        {{ $root.str('question_add_item') }}
      </button>
      <br>
      <p-check
        class="p-switch p-fill mt-3"
        :true-value="'1'"
        :false-value="'0'"
        color="primary"
        v-model="question.allowuserinputitem"
      >{{ $root.str('question_allow_other') }}</p-check>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import { VueEditor } from "vue2-editor";

export default {
  name: "singlechoice",
  components: {
    draggable,
    VueEditor
  },
  props: {
    editable: Boolean,
    question: Object,
    value: String,
    disabled: Boolean
  },
  data() {
    return {
      enableOther: false,
      items: []
    };
  },
  mounted() {
    this.setItems(this.question.content);
  },
  methods: {
    setItems(content) {
      var items = [];
      if (content) {
        content.split(";").forEach((elm, idx) => {
          items.push({ value: elm, id: idx });
        });
        this.items = items;
      }
    },
    add(item) {
      this.items.push({ value: item, id: this.items.length });
    },
    del(idx) {
      this.items.splice(idx, 1);
    }
  },
  watch: {
    items: {
      handler: function() {
        this.question.content = this.items.map(x => x.value).join(";");
      },
      deep: true
    },
    question: {
      handler: function(val) {
        this.setItems(val.content);
      },
      deep: true
    }
  }
};
</script>

<style lang="scss">
.option-drag {
  cursor: move;
}

.order-item {
    border: solid 1px #ccc;
    padding: 0.125rem 0.75rem;
    margin: 0.25rem .5rem;
    cursor: move;

    &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }
}

</style>
