<template>
  <div v-cloak>
    <div v-if="!editable">
      <div v-if="question.title!=''" class="card-title font-weight-bold mb-2">
        {{ question.title }}
        <span
          v-if="question.required=='1'"
          class="badge bg-danger rounded"
        >{{ $root.str('required') }}</span>
      </div>
      <div v-if="question.description!=''" class="card-text mb-3" v-html="question.description"></div>
      <div class="form-group">
        <textarea
          class="form-control textarea"
          :value="value"
          @input="$emit('input',$event.target.value)"
          :disabled="disabled"
          rows="3"
        ></textarea>
      </div>
    </div>
    <div v-if="editable">
      <p-check class="p-switch p-fill mb-3" :true-value="'1'" :false-value="'0'" color="primary" v-model="question.required">{{ $root.str('question_required') }}</p-check>
        <div class="form-group">
        <input
          class="form-control"
          type="text"
          :placeholder="$root.str('question_title')"
          v-model="question.title"
        >
      </div>
      <vue-editor :placeholder="$root.str('question_description')" v-model="question.description"></vue-editor>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
  name: "textinput",
  components: {
    VueEditor
  },
  props: {
    editable: Boolean,
    question: Object,
    disabled: Boolean
  },
  data(){
    return {
      value: ''
    }
  },
  mounted(){
    if (this.question.answer)
      this.$emit('input',this.question.answer);
  }
};
</script>

<style>
.textarea {
  resize: none;
}
</style>
